SPRING_DATASOURCE_URL=jdbc:postgresql://ep-jolly-smoke-aoks1n0h-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?user=neondb_owner&password=npg_cAW5ewbKv8Lo&sslmode=require&channelBinding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_cAW5ewbKv8Lo

JWT_SECRET=seVcWfemKgTLn7uBkDWIoF0pk0yy83euL5I7xYHMGFt

REDIS_URL=redis://your-redis-host:6379

PISTON_API_URL=https://emkc.org/api/v2/piston

OPENROUTER_API_KEY=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

GOOGLE_CLIENT_ID=508565663421-rbdhempcjr7u72irg918hksppu10kbrr.apps.googleusercontent.com

CORS_ORIGINS=https://your-frontend.vercel.app,http://localhost:5173

PORT=8080
